<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>

<h1>PIZZA SHOP</h1>
<img src="https://vinylbannersprinting.co.uk/wp-content/uploads/2016/05/RB27-AA-demo.png" alt="Pizza photo header">

<nav>
  <ul>
    <li><a href="/pizza-orders">Pizza Orders</a></li>
    <li><a href="/pizza-orders/new">New Order</a></li>
  </ul>
</nav>

  <%= yield %>


</body>
</html>
